/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaina 2", cursive;
}

html {
  font-size: 10px;
}

body {
  background-color: #dfe6e9;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBox {
  width: 80vw;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.balloonBox {
  width: 100%;
  height: 89vh;
  cursor: pointer;
}

.row {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  margin: 3.5rem auto;
}

#levelBox {
  color: #be2edd;
  z-index: 222;
}

#colorBox {
  z-index: 222;
}

#chanceBox {
  color: #eb4d4b;
  z-index: 222;
}

#infoBtn {
  font-size: 2rem;
  padding: 0.2rem 1.5rem;
  border-color: #be2edd;
  background-color: #81ecec;
  color: #be2edd;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 222;
}
#infoBtn:hover {
  background-color: #5ad2d2;
  cursor: pointer;
}

.box {
  background-color: rgb(131, 43, 43);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: none;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  transition: transform 2s;
}

img {
  width: inherit;
  height: inherit;
}

@media (max-width: 1240px) {
  .box {
    width: 7rem;
    height: 7rem;
  }
}

@media (max-width: 1100px) {
  .balloonBox {
    margin-top: 200px;
  }

  .box {
    width: 7rem;
    height: 7rem;
  }

  .infoBox {
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (max-width: 820px) {
  .balloonBox {
    margin-top: 100px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 540px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 450px) {
  .mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infoBox {
    gap: 15px;
    width: 80vw;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 5px;
  }
  .box {
    width: 30px;
    height: 30px;
  }
}
